html {
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    width: 100%;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: white;
/*NIGHT VISION*/
    background-color: rgba(251,251,251,1);
    margin: 0%;
    /* filter:invert(); */
    color: rgba(80,80,80,1);
    /* height: 100%;
    width: 100%;
    padding: 0%; */
    font-size: 16px;
font-family: sans-serif;
/*NIGHT VISION*/ opacity:.97;
}

.human-angel-logo {
    position: absolute;
    /* transform: scale(.51,.51); */
    width: 200px;
    transform: rotate(10deg);
    top: 85px;
    left: 10px;
    z-index: 300;
  
}
.human-angel-logo > img {width: 100%;
/*NIGHT VISION*/
/* filter:invert(); */
opacity:1;
}

.glossary {
    position:absolute; background: transparent; top: 1%; float: left; left:1%;  color: blueviolet; font-size: 11px; font-family: sans-serif; 
    font-weight: bold;
    text-transform: uppercase;  
    }
#glossary {display: inline; color: seagreen}
.legalnotices {
     position:relative; background: transparent; top: 5px; float: right; right:10px;  color: seagreen; font-size: 11px; font-family: sans-serif;    z-index: 200;}


     #skip-ada {
    position: relative;
    top: 10px;
    left: 0;
    display: block;
    width: 98%;
    height: 15px;
    text-align: center;
    padding: 1%;
    /* background: linear-gradient(right, black,rgba(205, 92, 92, 0.911) );
    background: -ms-linear-gradient(right, black,rgba(205, 92, 92, 0.911 ));
    background: -webkit-linear-gradient(right,black,rgba(205, 92, 92, 0.911 ));
    background: -moz-linear-gradient(right, black,rgba(205, 92, 92, 0.911)); */
    background: seagreen;
    /* border-bottom: 4px solid white;  */
    overflow: hidden;
  
    /* font-size: 1em;
    font-family: sans-serif; */
    /* z-index: 100; */
}

#skip-ada a {  color: ghostwhite;}
.topnav {
    background-color: seagreen;
    /* top:30px; */
    text-align: right;
    right: 0px;
    bottom: 0px;
    width: 98%;
    padding: 1%;
    /* margin-right: 5px; */
    z-index: 9999;
    position: fixed;
    /* border-radius: 0px; */
}
.topnav a {
    float:left;
    display: block;
    color: ghostwhite;
    text-align: right;
    /* padding: 5px; */
    margin: 0% 0%;
    text-decoration: none;
    font-size: 12px;
    font-weight:bold;
    font-family: sans-serif;
    text-transform: uppercase;
}
.topnav a:hover {
    background-color: ghostwhite;
    color: goldenrod;
}
.topnav .icon {
    display: none;
}
.menu {
    width: 13%;
    margin: 1%;
    padding: 1%;
    display: inline-block;
}



@keyframes animate-move {
    0% {
        width: 1px;
        height: 1px;
        /* border: 5px solid red; */
        background: red;
        left: 0%;
        top: 0%;
    }
    12% {
        width: 100px;
        height: 1px;
        /* border: 5px solid red; */
        background: red;
        left: 50%;
        top: 0%;
    }
    24% {
       
        width: 1px;
        height: 1px;
        /* border: 5px solid orange; */
        background:  orange;
        left: 99%;
        top: 0%;
    }
    25% {
        width: 1px;
        height: 1px;
        /* border: 5px solid orange; */
        background:  orange;
        left: 99%;
        top: 0%;
    }
    26% {
        width: 1px;
        height: 1px;
        /* border: 5px solid orange; */
        background:  orange;
        left: 98%;
        top: 0%;
    }
    37% {
       width:1px;
        height: 100px;
        /* border: 5px solid red; */
        background: orange;
        left: 98%;
        top: 50%;
    }
    49% {
        width:1px;
        height: 1px;
        /* border: 5px solid yellow; */
        background:  yellow;
        left: 98%;
        top: 99%;
    }
    50% {
        width:1px;
        height: 1px;
        /* border: 5px solid yellow; */
        background:  yellow;
        left: 98%;
        top: 99%;
    }
    51% {
        width:1px;
        height: 1px;
        /* border: 5px solid yellow; */
        background:  yellow;
        left: 98%;
        top: 99%;
    }
    62% {
        width: 100px;
        height: 1px;
        /* border: 5px solid red; */
        background: yellow;
        left: 50%;
        top: 99%;
    }
    74% {
        width: 1px;
        height: 1px;
        /* border: 5px solid green; */
        background:  green;
        left: 0%;
        top: 99%;
    }
    75% {
        width: 1px;
        height: 1px;
        /* border: 5px solid green; */
        background:  green;
        left: 0%;
        top: 99%;
    }
    76% {
        width: 1px;
        height: 1px;
        /* border: 5px solid green; */
        background:  green;
        left: 0%;
        top: 99%;
    }
    87% {
        width: 1px;
        height: 100px;
        /* border: 5px solid red; */
        background: green;
        left: 0%;
        top: 50%;
    }
    99% {
        width: 1px;
        height: 1px;
        /* border-top: 5px solid blue; */
        background: blue;
        left: 0%;
        top: 0%;
    }
    100% {
        width: 1px;
        height: 1px;
        /* border-top: 5px solid blue; */
        background: blue;
        left: 0%;
        top: 0%;
    }
}

@keyframes animate-move2 {
    0% {
        width: 1px;
        height: 1px;
        /* border: 5px solid red; */
        background: red;
        left: 98%;
        top: 98%;
    }
    12% {
        width: 100px;
        height: 1px;
        /* border: 5px solid red; */
        background: red;
        left: 50%;
        top: 98%;
    }
    24% {
       
        width: 2px;
        height: 1px;
        /* border: 5px solid orange; */
        background:  orange;
        left: 0%;
        top: 98%;
    }
    25% {
        width: 3px;
        height: 1px;
        /* border: 5px solid orange; */
        background:  orange;
        left: 0%;
        top: 98%;
    }
    26% {
        width: 2px;
        height: 2px;
        /* border: 5px solid orange; */
        background:  orange;
        left: 0%;
        top: 98%;
    }
    37% {
       width:1px;
        height: 100px;
        /* border: 5px solid red; */
        background: orange;
        left: 0%;
        top: 50%;
    }
    49% {
        width:2px;
        height: 2px;
        /* border: 5px solid yellow; */
        background:  yellow;
        left: 0%;
        top: 0%;
    }
    50% {
        width:3px;
        height: 3px;
        /* border: 5px solid yellow; */
        background:  yellow;
        left: 0%;
        top: 0%;
    }
    51% {
        width:2px;
        height: 2px;
        /* border: 5px solid yellow; */
        background:  yellow;
        left: 0%;
        top: 0%;
    }
    62% {
        width: 100px;
        height: 1px;
        /* border: 5px solid red; */
        background: yellow;
        left: 50%;
        top: 0%;
    }
    74% {
        width:3px;
        height: 3px;
        /* border: 5px solid green; */
        background:  green;
        left: 98%;
        top: 0%;
    }
    75% {
        width:3px;
        height: 3px;
        /* border: 5px solid green; */
        background:  green;
        left: 98%;
        top: 0%;
    }
    76% {
        width:3px;
        height: 3px;
        /* border: 5px solid green; */
        background:  green;
        left: 98%;
        top: 0%;
    }
    87% {
        width: 1px;
        height: 100px;
        /* border: 5px solid red; */
        background: green;
        left:98%;
        top: 50%;
    }
    99% {
        width:3px;
        height: 3px;
        /* border-top: 5px solid blue; */
        background: blue;
        left: 98%;
        top: 98%;
    }
    100% {
        width:3px;
        height: 3px;
        /* border-top: 5px solid blue; */
        background: blue;
        left: 98%;
        top: 98%;
    }
}

@keyframes animate-scroll {
    0% {
        background-position: 0 0;
    }
    90% {
        background-position: 0 -470px;
    }
}


#heade {
    width: auto;
    padding: 0%;
margin: 2% 2% 0%;
    height: 500px;
    display: block;
  position: relative;
  border: 0px solid transparent;
}
.colorwrap {
    /* border-top: 5px solid  transparent;
    border-bottom: 0px solid red;
    border-left: 5px solid transparent;
    border-right: 0px solid red; */
    position:absolute;
    width: 1px;
    height: 1px;
    top: 0%;
    left: 0%;
    opacity: .5;
    animation: animate-move 4s;
    animation-iteration-count:8;
    animation-direction: alternate-reverse;
}
.colorwrap2 {
    /* border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right:1px solid transparent; */
    opacity: 1;
    position:absolute;
    width: 1px;
    height: 1px;
    top: 0%;
    left: 0%;
    animation: animate-move 8s;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
    display: block;
}
.colorwrap3 {
    /* border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right:1px solid transparent; */
    opacity: 1;
    position:absolute;
    width: 1px;
    height: 1px;
    top: 0%;
    left: 0%;
    animation: animate-move 10s;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
    display: block;
}
.colorwrap4 {
    /* border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right:1px solid transparent; */
    opacity: 1;
    position:absolute;
    width: 1px;
    height: 1px;
    top: 0%;
    left: 0%;
    animation: animate-move 2s;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
    display: block;
}
.colorwrap5 {
    /* border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right:1px solid transparent; */
    opacity: 1;
    position:absolute;
    width: 1px;
    height: 1px;
    top: 0%;
    left: 0%;
    animation: animate-move 6s;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
    display: block;
}
.window {
    width: auto;
    padding: 0px  15px 0px 6px;
margin: 0%;
    height: 500px;
    display: block;
  position: relative;
  opacity:1;
   /* filter:invert();  */
  
    /* background: rgba(0,0,0,.0); */
}
.happy-work{
    filter:grayscale(1); 
    width: auto;
    padding: 1%;
margin: 0% auto;
    height: 500px;
    display: block;
  position: relative;
  opacity:1;
    background-image: url('../imgs/happy-flip.jpg' );
    animation-name: animate-scroll;
    animation-duration: 15s;
    animation-delay: 0s;
    background-origin: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 -470px;
    background-size:100%;
    z-index:-1;

}
.job {
    display: block;
    position: absolute;
    top: 43px;
    left:5px;
    width:auto;
    color: white;
    opacity: 1;
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 40px;
    margin-left: 0px;
    border-top: 0px solid white;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: rotate(10deg);
    font-family: helvetica;

    z-index: 1000;
}

.full {
    width: 98%;
    padding: 1%;
    margin: 0 auto;
    height: 138px;
    color: ghostwhite;
    background: linear-gradient( to right, seagreen ,transparent);
    position: relative;

}

.full > h1 {
    width: 40%;
    float: left;
    text-align: right;
    position: absolute;
    top:-48px;
    font-size: 3rem;
    color:ghostwhite;
    left: -1%;
    display: block;
  }
  .full > p {
    width: 55%;
    position: absolute;
    float: right;
    top: 20px;
    left: 42%;
    display: block;
    color:rgba(30, 30, 30, 0.87);
  }
.half {
    width: 94%;
    padding: 1%;
    margin: 1% 1%;
    overflow: hidden;
    display: block;
    float: left;
    background: white;
}
iframe {
    transform: scale(1);
    border: none;
    width: 100%;
    background-color: ghostwhite;
}
.special {

    font-size: 4rem;
    color: rgba(255, 255, 255, 0.14713);
    position: relative;
    top: -5rem;
    margin: 0px;
    text-transform: uppercase;
    left: 20px;
    letter-spacing: 0px;
    text-shadow: 0px 0px 0px ghostwhite;
/* outline:0px 0px 2px saddlebrown; */
}

#ideate {position: absolute; color:rgba(0,0,0,.9)}
.half p {
    padding: 1%;
}
.claims {
    display: block;
        width: 70%;
    margin: 3% auto;
}

.flavors {
    display: block;
        width: 60%;
    margin: -3% auto 2%;
    /* background: linear-gradient( rgba(50,50,50,.9), black); */
    text-align: center;
    position: relative;
    height: auto;
    padding: 1%;
  
    top: 2rem;
    /* box-shadow: 0px 2px 2px mediumseagreen; */
 /* background: indianred; */
 /* filter: grayscale(); */
 z-index:0;
}

.flavors  h6 {
    font-size: 4.5rem;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    /* width: 20%;  */
    float: left;
    display: block;
    width: 35%;
font-size: 3.5em;
padding: 2%;
}
.flavors span  {
    /* font-size: 14rem; */
    margin: 0;
    text-transform: uppercase;

    height: auto;
    font-family: sans-serif;
    /* background: mediumseagreen; */
    padding: 2%;
    color: saddlebrown;
    font-size: 9em;
    letter-spacing: 4px;
width: 98%;
padding: 1%;

background: transparent;

font-weight: 900;

position: relative;
}
.flavors p {
font-size: 1em;
display: block;
width: auto;
float: left;
margin-left: 2%;
text-align: left;
}

footer {
    display: flow-root;
    background: black; 
    color: white;
width: 100%}

#footer_about {
    border-left: 1px solid grey;
    padding-left: 2%;
    width: 20%;
    float: left;
    display: block;
    margin-left: 3%;
    font-size: 11px;
    font-family: helvetica;
    overflow: hidden;
}
#footer_image {
    width: 20%;
    float: left;
    display: block;
    margin-left: 2%;
    padding-left: 2%;
}
#footer_diy_resources {
    background: none;
    width: 25%;
    float: left;
    display: block;
    font-size: 11px;
    font-family: helvetica;
}