.sidewalk-b {width: 80vw;position:absolute ;top: 68vh;transform:scale(2); opacity: .5}
.sidewalk-c {width: 100px;position:absolute ;left: 50%;top: 65%;transform:scale(9); opacity: .5}
.sidewalk-f {position: relative;}
.background {position: absolute; display:block ;  width:auto; overflow: hidden; top:15%; left: 70%; opacity:.26;}
.background-all {z-index: -999; position: absolute;  width:100%; height: auto;overflow: hidden; top:0%; left: 0%; opacity:.26;}

/*
#p1 {
    display: none;
}
#p2 {
    display: none;
}
#p3 {
    display: none;
}
#p4 {
    display: none;
}
#p5 {
    display: none;
}
#p6 {
    display: none;
}
*/
.legalnotices {position: absolute; top: 1%; right: 10px;  color: white; font-size: 11px; font-family: sans-serif;}

#skip-ada {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 98%;
    height: 15px;
    text-align: center;
    padding: 1%;
    /* background: linear-gradient(right, black,rgba(205, 92, 92, 0.911) );
    background: -ms-linear-gradient(right, black,rgba(205, 92, 92, 0.911 ));
    background: -webkit-linear-gradient(right,black,rgba(205, 92, 92, 0.911 ));
    background: -moz-linear-gradient(right, black,rgba(205, 92, 92, 0.911)); */
    background: mediumseagreen;
    border-bottom: 4px solid white; 
    overflow: hidden;
    color: white;
    font-size: 1em;
    font-family: sans-serif;
}
@font-face {
    font-family: 'A';
    src: url('FiraSans-Regular.otf');
    format:( 'embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
/* a:link {
    color: grey;
    text-transform: underline;
    font-family: helvetica;
    text-decoration: none;
    font-family: 'A', helvetica;
}
a:visited {
    color: grey;
    font-family: helvetica;
    text-decoration: none;
    fill: white;
    font-family: 'A', helvetica;
}
a:hover {
    color: rgba(255,215,0,1);
    font-family: helvetica;
    text-decoration: underline;
    font-family: 'A', helvetica;
}
a:active {
    color: white;
    font-family: helvetica;
    text-decoration: none;
    font-family: 'A', helvetica;
} */
.highlight:link {
    background: rgba(255,215,0,1);
}
.highlight:visited {
    background: rgba(255,215,0,1);
}
.highlight:hover {
    background: rgba(255,215,0,1);
}
.highlight:active {
    background: rgba(255,215,0,1);
}
.resources:link {
    color: rgba(255,215,0,1);
    font-family: helvetica;
    text-decoration: underline;
}
.accordion:hover,
.active {
    background-color: #ccc;
}
html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.clear {
    clear: both;
}
g {
    transform: scale(1,1);
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 30px;
    font-family: 'A' !important;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 16px;
}
p {
  
    line-height: 1.375em;
    opacity:.8;
    letter-spacing: 2px;
    font-family: 'A',helvetica;
}
mark {
    background: white;
    color: mediumseagreen;
    padding:1%;
    text-transform: underline;
}
body {
    background-color: white;

    margin: 0;
    color: rgba(80,80,80,1);
    height: 100%;
    width: 98%;
padding: 0%;
    font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: helvetica;
}
.allbody {
    overflow: hidden;
}
.topnav {
    background-color: mediumseagreen;
    /* top:30px; */
    text-align: right;
    right: 0px;
    bottom: 0px;
    width: 98%;
    padding: 1%;
    /* margin-right: 5px; */
    z-index: 9999;
    position: fixed;
    /* border-radius: 0px; */
}
.topnav a {
    float:left;
    display: block;
    color: saddlebrown;
    text-align: right;
    /* padding: 5px; */
    margin: 0% 0%;
    text-decoration: none;
    font-size: 1rem;
    font-weight:bold;
    font-family: sans-serif;
    text-transform: uppercase;
}
.topnav a:hover {
    background-color: saddlebrown;
    color: white;
}
.topnav .icon {
    display: none;
}
.menu {
    width: 13%;
    margin: 1%;
    padding: 1%;
    display: inline-block;
}
.highlight {
    background: rgba(255,215,0,1);
    padding: 0;
    text-decoration: underline;
}
.space {
    /* background: linear-gradient(left, black,transparent );
    background: -ms-linear-gradient(left, red,transparent);
    background: -webkit-linear-gradient(right,transparent,transparent);
    background: -moz-linear-gradient(right, black,transparent); */
    height: 30vh;

        left: -2.5%;
        width: 105%;

    z-index: 0;
    margin-top:.5%;
    opacity:1;
    filter:grayscale();
    background: saddlebrown;
    display: block;
    position: absolute;
}
main {
    width: 96%;
    height: auto;
    margin-top: 0;
    /* padding: 2%; */
    background-color: rgba(250,250,250,1);
    z-index: 9;
    /* border-top: 20px solid saddlebrown/*rgba(255,215,0,1)*/
    /* border-bottom: 20px solid saddlebrownrgba(255,215,0,1); */
    background-image: url('' );
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    /* position: relative; */
    opacity: 1;
}
.story {
    margin: 0 auto;
    padding: 2%;
    width: 96%;
    background: rgba(250,250,250,1);
    position: relative;
}
.center {
    /* background: white; */
   width: 100%;
    /*  margin: auto;
    padding: 1%;
    
    /* border-bottom: 2px solid saddlebrown; */
}
.full {
    width: 98%;
    padding: 1%;
    margin: 0 auto -3%;
    background: rgba(250,250,250,.5);
}
.half {
    width: 94%;
    padding: 1%;
    margin: 1% 1%;
    overflow: hidden;
    display: block;
    float: left;
    background: white;
}
iframe {
    transform: scale(.7);

    width: 100%;

}
.special {

    font-size: 8.5rem;
    color: rgba(255, 255, 255, 0.713);
    position: absolute;
    top:47%;
    margin: 0px;
    text-transform: uppercase;
    left: -10px;
/* outline:0px 0px 2px saddlebrown; */
}

.half p {
    padding: 1%;
}
/* .rgba(255, 215, 0, 1)ie {
    border: 0.5px solid rgba(255,215,0,1);
    background: rgba(255,215,0,.5);
    color: rgba(80,80,80,1);
    padding: 8px;
} */
.white {
    background: white !important;
}
.selection {
    text-align: center;
    background: indianred;
    color: white !important;
    text-transform: uppercase;
    width: auto;
    font-weight: bold;
    border-radius: 5px;
    float: right;
    padding: 3%;
    margin: 0 auto;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid indianred;
    box-shadow: 1px 1px 3px black;
}
.bulletin {
    text-align: center;
    border: 2px double rgba(255,215,0,1);
    border-radius: 10px;
    background: rgba(255,215,0,1);
    color: black !important;
    text-transform: uppercase;
    width: 75px;
    font-weight: bold;
    border-radius: 5px;
    padding: 2%;
}
.selection2 {
    text-align: center;
    background: rgba(255,215,0,1);
    color: black !important;
    text-transform: uppercase;
    width: 200px;
    font-weight: bold;
    border-radius: 5px;
    display: inline;
    padding: 3%;
    margin: 0 auto;
}
.accordion {
    display: none;
}
.human-angel-logo {
    position: absolute;
    /* transform: scale(.51,.51); */
    width: 190px;
    z-index: 9999;
    top: 11px;
    left: -8px;
    transform: rotate(10deg);
}
.job {
    display: block;
    position: absolute;
    top: 40px;
    left:-5px;
    width:auto;
    color: white;
    opacity: 1;
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 40px;
    margin-left: 0px;
    border-top: 0px solid white;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: rotate(10deg);
    font-family: helvetica;
    line-height: 2;
}
.underline {
    text-decoration: underline;
    font-weight: bold;
    text-shadow: 0 0 20px saddlebrown/*rgba(255,215,0,1)*/;
}
.claims {
    display: block;
        width: 70%;
    margin: 3% auto;
}

.flavors {
    display: block;
        width: 98%;
    margin: auto;

    text-align: center;
    position: relative;
    height: auto;
    padding: 1%;
    overflow: hidden;
    top: 2rem;
    box-shadow: 0px 2px 2px mediumseagreen;
 /* background: indianred; */
 /* filter: grayscale(); */
 z-index:0;
}

.flavors  h6 {
    font-size: 4.5rem;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    /* width: 20%;  */
    float: left;
    display: block;
    width: 35%;
font-size: 3.5em;
padding: 2%;
}
.flavors span  {
    /* font-size: 14rem; */
    margin: 0;
    text-transform: uppercase;

    height: auto;
    font-family: sans-serif;
    /* background: mediumseagreen; */
    padding: 2%;
    color: saddlebrown;
    font-size: 9em;
    letter-spacing: 4px;
width: 98%;
padding: 1%;

background: transparent;

font-weight: 900;

position: relative;
}
.flavors p {
font-size: 1em;
display: block;
width: auto;
float: left;
margin-left: 2%;
text-align: left;
}
.here {
    fill: white;
    stroke: white;
    opacity: 1;
    display: inline;
    width: 97%;
    margin-left: 3%;
    height: 75px;
    margin-top: 370px;
    position: absolute;
}
.desktop {
    width: 20%;
    padding: 1%;
    margin: 1%;
    font-size: 11px;
    font-family: helvetica;
    float: left;
    display: block;
    margin-left: 2%;
    padding-left: 2%;
    overflow: hidden;
}
.mobile {
    width: 92%;
    padding: 2%;
    margin: 2%;
    font-size: 1.5em;
    font-family: helvetica;
    overflow: hidden;
}
.realright {
    border-right: 1px solid grey;
}
#footer_about {
    border-left: 1px solid grey;
    padding-left: 2%;
    width: 20%;
    float: left;
    display: block;
    margin-left: 3%;
    font-size: 11px;
    font-family: helvetica;
    overflow: hidden;
}
#footer_image {
    width: 20%;
    float: left;
    display: block;
    margin-left: 2%;
    padding-left: 2%;
}
#footer_diy_resources {
    background: none;
    width: 25%;
    float: left;
    display: block;
    font-size: 11px;
    font-family: helvetica;
}
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.window {
    width: auto;
    padding: 1%;
margin: 0%;
    height: 45vh;
    display: block;
  
    filter:grayscale(); 
    /* background: rgba(0,0,0,.0); */
        background-image: url('imgs/happy.jpg' );
        animation-name: animate-scroll;
        animation-duration: 15s;
        animation-delay: 0s;
        background-origin: 100% 100%;
        background-repeat: no-repeat;
        background-position: 0 -530px;
        background-size:100%;
 
        /* border-top: 5px solid rgba(250,250,250,1); */
}
.body {
    /* background-image: url('happy.jpg' ); */
/* filter: invert(); */

    background-repeat: no-repeat;
    background-position: 0 -530px;
    background-size: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 530px;
    width: 100%;
    /* z-index: -1; */

    
}
.big-window {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
    /* filter:grayscale(); */
}
.big-body {
    background-image: url('' );
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-bottom: 10px solid rgba(250,250,250,1);
}
.enter {
    position: relative;
    width: 96%;
    background: rgba(255,255,255,.4);
    text-align: center;
    padding: 2%;
    top: 280px;
    font-size: 3em;
    color: white;
    font-weight: bold;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    animation: animate-hide 8s;
}
.enterlink:link {
    color: saddlebrown;
}
.enterlink:visited {
    color: saddlebrown;
}
.enterlink:hover {
    color: saddlebrown;
}
.enterlink:active {
    color: saddlebrown;
}
#big-human-angel-logo {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.big-HU {
    transform: scale(5.5);
    fill: white;
    opacity: 1;
    animation-name: animate-reveal;
    animation-duration: 4s;
}
.big-AG {
    transform: scale(5.5);
    fill: white;
    opacity: 1;
    animation-name: animate-reveal;
    animation-duration: 7s;
}
.big-job {
    display: block;
    position: relative;
    top: 260px;
    width: 60%;
    color: white;
    opacity: 1;
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 10px;
    margin-top: 40px;
    border-top: 2px solid white;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: helvetica;
    line-height: 2;
    text-align: center;
}
@keyframes animate-scroll {
    0% {
        background-position: 0 0;
    }
    90% {
        background-position: 0 -530px;
    }
}
.body-animate {
    animation-name: animate-scroll;
    animation-duration: 15s;
    animation-delay: 0s;
    /* background-color: rgba(0,0,0,.8); */
    border: 22px solid white;
    width: 96%;
}
@keyframes animate-reveal {
    0% {
        opacity: 0;
        fill: transparent;
    }
    100% {
        opacity: 1;
        fill: transparent;
    }
}
.HU {
    fill: white;
    opacity: 1;
    animation-name: animate-reveal;
    animation-duration: 4s;
}
.AG {
    fill: white;
    opacity: 1;
    animation-name: animate-reveal;
    animation-duration: 7s;
}
@keyframes animate-hide {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.job {
    animation-name: animate-hide;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
}
@keyframes animate-human {
    0% {
        opacity: 0;
        fill: transparent;
        stroke-width: 0.5;
        stroke: white;
    }
    90% {
        opacity: 1;
        fill: transparent;
        stroke-width: 0.5;
        stroke: white;
    }
    100% {
        fill: white;
        stroke-width: 0;
        stroke: white;
    }
}
@keyframes hu-h {
    0% {
        stroke-dasharray: 55px;
        stroke-dashoffset: 55px;
    }
    90% {
        stroke-dasharray: 55px;
        stroke-dashoffset: 110px;
    }
    100% {
        stroke-dashoffset: 110px;
    }
}
@keyframes hu-u {
    0% {
        stroke-dasharray: 55px;
        stroke-dashoffset: 55px;
    }
    90% {
        stroke-dasharray: 55px;
        stroke-dashoffset: 110px;
    }
    100% {
        stroke-dashoffset: 110px;
    }
}
@keyframes hu-m {
    0% {
        stroke-dasharray: 82px;
        stroke-dashoffset: 82px;
    }
    90% {
        stroke-dasharray: 82px;
        stroke-dashoffset: 164px;
    }
    100% {
        stroke-dashoffset: 164px;
    }
}
@keyframes hu-a2 {
    0% {
        stroke-dasharray: 55px;
        stroke-dashoffset: 55px;
    }
    90% {
        stroke-dasharray: 55px;
        stroke-dashoffset: 110px;
    }
    100% {
        stroke-dashoffset: 110px;
    }
}
@keyframes hu-a-inside {
    0% {
        stroke-dasharray: 55px;
        stroke-dashoffset: 55px;
    }
    90% {
        stroke-dasharray: 55px;
        stroke-dashoffset: 110px;
    }
    100% {
        stroke-dashoffset: 110px;
    }
}
@keyframes hu-n2 {
    0% {
        stroke-dasharray: 61px;
        stroke-dashoffset: 61px;
    }
    90% {
        stroke-dasharray: 61px;
        stroke-dashoffset: 122px;
    }
    100% {
        stroke-dashoffset: 122px;
    }
}
.HU-h {
    animation-name: hu-h,animate-human;
    animation-duration: 4s;
    animation-delay: 0s;
}
.HU-u {
    animation-name: animate-human,hu-u;
    animation-duration: 4s;
    animation-delay: 0.5s;
}
.HU-m {
    animation-name: animate-human,hu-m;
    animation-duration: 4s;
    animation-delay: 1s;
}
.HU-a2 {
    animation-name: animate-human,hu-a2;
    animation-duration: 4s;
    animation-delay: 1.5s;
}
.HU-a-inside {
    animation-name: animate-human,hu-a-inside;
    animation-duration: 4s;
    animation-delay: 2s;
}
.HU-n2 {
    animation-name: animate-human,hu-n2;
    animation-duration: 4s;
    animation-delay: 2.05s;
}
@keyframes animate-angel {
    0% {
        opacity: 0;
        fill: transparent;
    }
    100% {
        opacity: 1;
        fill: white;
    }
}
.HU-a,
.HU-a-box,
.HU-e,
.HU-e-box,
.HU-g,
.HU-g-box,
.HU-l,
.HU-l-box,
.HU-n,
.HU-n-box {
    animation-name: animate-angel;
    animation-duration: 4s;
    animation-delay: 6.05s;
}
.switch {
    fill: transparent !important;
}
@keyframes animate-hide2 {
    0% {
        opacity: 0;
        fill: transparent;
    }
    100% {
        opacity: 0;
        fill: transparent;
    }
}
.soc {
    animation-name: animate-hide2;
    animation-duration: 16s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}
@keyframes animate-show {
    0% {
        opacity: 0;
        fill: grey;
    }
    50% {
        opacity: 1;
        fill: grey;
    }
    100% {
        opacity: 0;
        fill: grey;
    }
}
#Drive,
#Dropbox,
#Facebook,
#LinkedIn,
#Squarespace,
#Twitter,
#Youtube,
#wix {
    animation-name: animate-show;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
#LinkedIn {
    animation-delay: 1s;
}
#Twitter {
    animation-delay: 3s;
}
#Youtube {
    animation-delay: 5s;
}
#Facebook {
    animation-delay: 7s;
}
#Squarespace {
    animation-delay: 9s;
}
#Drive {
    animation-delay: 11s;
}
#Dropbox {
    animation-delay: 13s;
}
#wix {
    animation-delay: 15s;
}
@keyframes animate-string {
    0% {
        opacity: 1;
        fill: grey;
    }
    100% {
        opacity: 1;
        fill: transparent;
    }
}
@keyframes animate-string2 {
    0% {
        opacity: 1;
        fill: transparent;
    }
    100% {
        opacity: 1;
        fill: grey;
    }
}
.okay {
    fill: transparent;
    opacity: 1;
}
@keyframes type {
    0% {
        opacity: 0;
        display: block;
    }
    100% {
        opacity: 1;
        display: block;
    }
}
#typing {
    animation-name: type;
    animation-duration: 20s;
    animation-delay: 0s;
}
.undisplay {
    display: none;
}
.display {
    display: block;
    float: left;
    fill: grey;
    overflow: hidden;
}
.colorRed {
    fill: red;
}
.colorWhite {
    fill: white;
    color: white;
}
.colorGold {
    fill: saddlebrown;
    color: saddlebrown;
}
.outlineWhite {
    stroke: white;
}
.outlineRed {
    stroke: red;
}
.outline {
    stroke: white;
    stroke-width: 11px;
    stroke-opacity: 0.5;
}
.left {
    float: left;
    margin-right: 2%;
}
.right {
    float: right;
    margin-left: 2%;
}
.embiggen {
    font-size: 1.2em;
    text-align: right;
    color: white;
    display: block;
}
/* .rgba(255, 215, 0, 1)-color {
    fill: rgba(255,215,0,1);
    opacity: 0;
} */
.paddy {
    padding: 1%;
    line-height: 1.5;
    /* writing-mode: horizontal-tb; */
    width: 50%;
    float:right;
    margin-left:2%;
    color: white;
}

.full h1, h2 {text-align:right; margin-right: 10px;padding-right: 10px;
    line-height: 56px;

    width: 44%;
    font-size: 3.25rem;
    position: absolute;
    left: 0px;
    top: 400px;
    color: white;
    /* text-shadow: 1px 1px 1px black; */
            }
/* .rgba(255, 215, 0, 1)-bottom {
    border-bottom: 15px solid rgba(255,215,0,1);
} */
.contact-us {
    position: absolute;
    top: 395px;
    z-index: 9;
    /* border-bottom: 20px double saddlebrown; */
    /*rgba(255,215,0,1)*/
    background: transparent;
    display: block;
    letter-spacing: 13px;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
    width: auto;
    opacity:1;
    /* right: -2%; */
    margin: 0 auto;
    padding: 10px;
    font-size: 2rem;
    /* outline: saddlebrown 2px solid; */
}
aside {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    left: 0;
    float: left;
    margin: 4px 0;
    text-align: center;
    width: 40%;
 
}

#let_us_begin{
    padding: 2%;
   /* height: 50px; */
   font-size: 1.52em;
   position: relative;
  background: indianred;
}
.call-to-action > svg {
    position: relative;
    top: 50px;
    fill: grey;
    transform: scale(.91);
    width: 100%;
    overflow: hidden;
}
.call-to-action > svg > g {
    fill: grey;
    transform: scale(.45);
}
.go-right-move {
    position: absolute;
    top: 20px;
    left: -1%;
    width: 100%;
    overflow: hidden;
    border: 1px solid saddlebrown;
    animation: animate-hrslide-right 3s;
}
.go-left-move {
    position: absolute;
    top: 125px;
    right: -1%;
    width: 100%;
    overflow: hidden;
    border: 2px solid saddlebrown;
    animation: animate-hrslide-left 2.5s 0s;
}
.go-right {
    position: absolute;
    top: 20px;
    left: -1%;
    width: 100%;
    overflow: hidden;
    border: 1px solid saddlebrown;
    animation: animate-hide 3s;
    animation-iteration-count: 1;
}
.go-left {
    position: absolute;
    top: 125px;
    right: -1%;
    width: 100%;
    overflow: hidden;
    border: 2px solid saddlebrown;
    animation: animate-hide 3s;
    animation-iteration-count: 1;
}
@keyframes animate-hrslide-right {
    0% {
        width: 1%;
        left: -20%;
    }
    100% {
        width: 100%;
        left: -1%;
    }
}
@keyframes animate-hrslide-left {
    0% {
        width: 1%;
        right: -20%;
    }
    100% {
        width: 100%;
        right: -1%;
    }
}
@keyframes animate-hrgrow {
    0% {
        border: 1px solid saddlebrown;
    }
    100% {
        border: 2px solid saddlebrown;
    }
}
g {
    opacity: 1;
    transform: scale(1);
}
footer {
    margin: 0;
    padding: 2%;
    width: 96%;
    height: auto;
    /* background: rgba(0,0,0,.8); */
    color: white;
    overflow: hidden;
    margin-top: 0;
    filter:grayscale();
    /* background: -webkit-linear-gradient(top, rgba(0,0,0,.8) 98%, rgba(255,215,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,.8) 98%, rgba(255,215,0,1) 100%);
    background: -moz-linear-gradient(top, rgba(0,0,0,.8) 98%, rgba(255,215,0,1) 100%);
    background: linear-gradient(top, rgba(0,0,0,.8) 98%, rgba(255,215,0,1) 100%); */
    background: linear-gradient(black,saddlebrown );
    background: -ms-linear-gradient(black,saddlebrown );
    background: -webkit-linear-gradient(black,saddlebrown );
    background: -moz-linear-gradient(black,saddlebrown );
}
@media only screen and (min-width: 769px) and (max-width: 1000px) {
    @keyframes animate-scroll {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 0 -380px;
        }
        90% {
            background-position: 0 0;
        }
    }
    .human-angel-logo {
        position: absolute;
        /* transform: scale(.51,.51); */
        width: 190px;
        z-index: 9999;
        top: 11px;
        left: -8px;
        transform: rotate(10deg);
    }
    aside {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        left: 0;
        margin: 4px 0;
        padding: 20px 0;
        text-align: center;
        width: 100%;
        height: 30px;
    }
    .call-to-action {
        position: relative;
        left: 0;
        width: 100%;
    }
    .call-to-action svg {
        fill: grey;
        overflow: visible;
        position: relative;
    }
    g {
        opacity: 1;
        transform: scale(.9);
    }
    .soc {
        opacity: 1;
        transform: scale(1);
    }
    .switch {
        left: 40px;
        position: relative;
        opacity: 1;
        transform: scale(1);
    }
    .body {
        animation-name: animate-scroll;
        animation-duration: 30s;
        animation-delay: 0s;
        background-color: rgba(0,0,0,);
        background-image: url('' );
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100%;
        opacity: 0.65;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        height: 275px;
        border-bottom: 10px solid rgba(250,250,250,1);
    }
    .allbody {
        overflow: hidden;
    }
}
@media only screen and (min-width: 409px) and (max-width: 768px) {
    aside {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        left: 0;
        margin: 4px 0;
        padding: 20px 0;
        text-align: center;
        height: 30px;
    }
    .call-to-action {
        fill: grey;
        height: 100%;
        transform: scale(.51);
    }
    #human-angel-logo {
        position: absolute;
        top: 50px;
        left: 6px;
        transform: scale(1.5,1.5);
    }
    .switch {
        left: 0;
        position: relative;
        opacity: 1;
        transform: scale(1);
    }
    .soc {
        opacity: 1;
        transform: scale(1);
    }
    @keyframes animate-scroll {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 0 -125px;
        }
        90% {
            background-position: 0 0;
        }
    }
    .topnav {
        width: 100%; 
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0;
        margin: 0;
        background: transparent;
        height:7vh;
    }
    .menu {
        width: calc(100%/4);
        left: -15px;
        position: relative;
        bottom: 0;
        display: block;
        text-align: center;
    }
    .topnav a:link {
        text-align: center;
        color: black;
        font-weight: bold;
    }
    .topnav a:visited {
        text-align: center;
        color: black;
        font-weight: bold;
    }
    .topnav a:hover {
        text-align: center;
        color: rgba(255,215,0,1);
        font-weight: bold;
        background: white;
    }
    .topnav a:active {
        text-align: center;
        color: black;
        font-weight: bold;
    }
    .accordion {
        display: block;
        background: none;
        color: rgba(250,215,0,1);
        cursor: pointer;
        padding: 2%;
        width: 94%;
        margin: 1% auto -30px;
        border: none;
        text-align: center;
        outline: none;
        font-size: 1em;
        transition: 0.4s;
    }
    .accordion:hover,
    .active {
        background-color: rgba(255,215,0,1);
        color: black;
    }
    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    .body {
        background-color: rgba(0,0,0,1);
        background-image: url('happy.jpg' );
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100%;
        opacity: 0.61;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        height: 275px;
        border-bottom: 10px solid rgba(250,250,250,1);
    }
    h1 {
        width: 96%;
        font-size: 2em;
        text-align: left !important;
    }
    h2 {
        width: 96%;
        padding: 1%;
        margin: 1%;
        text-align: left !important;
        display: block;
        font-size: 1.2em;
        line-height: 1.3;
    }
    h3 {
        font-size: 1.2em;
    }
    h4 {
        font-size: 0.8em;
    }
    h5 {
        font-size: 0.6em;
    }
    h6 {
        font-size: 0.5em;
    }
    p {
        font-family: 'A';
        line-height: 1.7;
    }
    footer {
        margin-bottom: 30px;
    }
    .foot-links:link {
        color: saddlebrown;
    }
    #footer_about {
        text-align: center;
        width: 92%;
        padding: 2%;
        margin: 2%;
        font-size: 0.91em;
        line-height: 1.5;
        font-family: 'A', helvetica;
        overflow: hidden;
        background-color: rgba(250,250,250,1);
        color: rgba(80,80,80,1);
    }
    #footer_image {
        display: none;
    }
    #footer_diy_resources {
        background: none;
        width: 92%;
        padding: 2%;
        margin: 2%;
        font-size: 1em;
        line-height: 1.5;
        font-family: 'A',helvetica;
        overflow: hidden;
    }
    .break {
        display: none;
    }
    .paddy {
        font-size: 1em;
        width: 98%;
        padding: 1%;
        display: block;
        line-height: 1.9;
        font-family: 'A', Helvetica;
    }
    main {
        background-image: url('');
        border-bottom: none;
    }
    li {
        width: 100%;
    }
    .selection {
        text-align: center;
        background: rgba(255,215,0,1);
        color: black !important;
        text-transform: uppercase;
        width: 200px;
        font-weight: bold;
        border-radius: 5px;
        float: right;
        padding: 3%;
        margin: 0 auto;
    }
    .claims {
        border-top: 0 solid rgba(255,215,0,1);
        border-bottom: 0 solid rgba(255,215,0,1);
    }
    .thebreak {
        border-top: 20px solid rgba(255,215,0,1);
        border-bottom: 20px solid rgba(255,215,0,1);
    }
    .half {
        width: 96%;
        padding: 1%;
        margin: 1%;
        overflow: hidden;
        display: block;
        float: left;
        border-top: 5px solid rgba(255,215,0,1);
        background: url('');
        background-size: 10%;
        background-repeat: no-repeat;
        background-position: 100% 0;
    
    }
    .half p {
        font-family: 'A', helvetica;
    }
    /* .rgba(255, 215, 0, 1)ie {
        border: 1px solid rgba(255,215,0,1);
        background: url('');
        background-size: 10%;
        background-repeat: no-repeat;
        background-position: 100% 0;
    } */
    .center {
        width: 100%;
    }
    .bulletin {
        text-align: center;
        border: 2px double rgba(255,215,0,1);
        border-radius: 10px;
        background: rgba(255,215,0,1);
        color: black !important;
        text-transform: uppercase;
        width: 75px;
        font-weight: bold;
        border-radius: 5px;
        padding: 1%;
    }
    .selection2 {
        text-align: center;
        background: rgba(255,215,0,1);
        color: black !important;
        text-transform: uppercase;
        width: 200px;
        font-weight: bold;
        border-radius: 5px;
        display: inline;
        padding: 5%;
        margin: 0 auto;
    }
    .embiggen {
        font-size: 16px;
        text-align: right;
        color: white;
        display: block;
    }
    #big-human-angel-logo {
        position: absolute;
        top: 130px;
        left: 65px;
        transform: scale(1.5);
    }
    .big-HU {
        transform: scale(4);
    }
    .big-AG {
        transform: scale(4);
    }
    .big-window {
        width: 100%;
        height: 100%;
        display: block;
        padding: 0;
    }
    .big-body {
        /* background-image: url('happy.jpg' ); */
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        border-bottom: 10px solid rgba(250,250,250,1);
    }
    .enter {
        position: relative;
        width: 96%;
        background: rgba(255,255,255,1);
        text-align: center;
        padding: 2%;
        top: 60px;
        font-size: 4em;
        color: white;
        font-weight: bold;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        animation: animate-hide 8s;
    }
    .enterlink:link {
        color: saddlebrown;
    }
    .enterlink:visited {
        color: saddlebrown;
    }
    .enterlink:hover {
        color: saddlebrown;
    }
    .enterlink:active {
        color: saddlebrown;
    }
    .big-HU {
        transform: scale(2);
        fill: white;
        opacity: 1;
        animation-name: animate-reveal;
        animation-duration: 4s;
    }
    .big-AG {
        transform: scale(2);
        fill: white;
        opacity: 1;
        animation-name: animate-reveal;
        animation-duration: 7s;
    }
    .big-job {
        display: block;
        position: relative;
        top: 160px;
        width: 60%;
        color: white;
        opacity: 1;
        font-size: 1em;
        font-weight: bold;
        margin: 0 auto;
        padding-top: 10px;
        margin-top: 40px;
        border-top: 2px solid white;
        font-weight: normal;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: helvetica;
        line-height: 2;
        text-align: center;
    }
    .allbody {
        overflow: hidden;
    }
}

@media only screen and (min-width:368px) and (max-width: 408px) {
    .allbody {
        overflow: hidden;
    }
    g {
        opacity: 1;
        transform: scale(.35);
    }
    #human-angel-logo {
        position: absolute;
        top: 85px;
        left: 40px;
        transform: scale(2.2,2.2);
    }
    .body {
        animation-name: animate-scroll;
        animation-duration: 30s;
        animation-delay: 0s;
        background-color: rgba(0,0,0,1);
        background-image: url('happy.jpg' );
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100%;
        opacity: 0.65;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        height: 275px;
        border-bottom: 10px solid rgba(250,250,250,1);
    }
    aside {
        display: none;
    }
    .call-to-action svg {
        position: relative;
        left: -35%;
        fill: grey;
        transform: scale(.65);
    }
    #beyond {
        opacity: 1;
        transform: scale(.4);
        display: none;
    }
    #pwnd {
        opacity: 1;
        transform: scale(.4);
        display: none;
    }
    #smart {
        opacity: 1;
        transform: scale(.4);
        display: none;
    }
    #mean {
        opacity: 1;
        transform: scale(.4);
        display: none;
    }
    #strings {
        opacity: 1;
        transform: scale(.4);
        display: none;
    }
    #strings_plus {
        opacity: 1;
        transform: scale(.4);
        display: none;
    }
    .placement {
        display: none;
    }
    .placement2 {
        display: none;
    }
    aside {
        display: none;
    }
    .switch {
        left: 20px;
        position: relative;
        opacity: 1;
        transform: scale(.35);
    }
    .soc {
        opacity: 1;
        transform: scale(.35);
    }
    .topnav {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0;
        margin: 0;
        background: rgba(255,215,0,1);
    }
    .menu {
        width: calc(100%/5);
        left: -15px;
        position: relative;
        bottom: 0;
        display: block;
        text-align: center;
    }
    .topnav a:link {
        text-align: center;
        color: black;
        font-weight: bold;
    }
    .topnav a:visited {
        text-align: center;
        color: black;
        font-weight: bold;
    }
    .topnav a:hover {
        text-align: center;
        color: rgba(255,215,0,1);
        font-weight: bold;
        background: white;
    }
    .topnav a:active {
        text-align: center;
        color: black;
        font-weight: bold;
    }
    #big-human-angel-logo {
        position: absolute;
        top: 30px;
        left: 30px;
        transform: scale(1);
    }
    .big-HU {
        transform: scale(3.5);
    }
    .big-AG {
        transform: scale(3.5);
    }
    .big-window {
        width: 100%;
        height: 100%;
        display: block;
        padding: 0;
    }
    .big-body {
        background-image: url('happy.jpg' );
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        border-bottom: 10px solid rgba(250,250,250,1);
    }
    .enter {
        position: fixed;
        width: 98%;
        background: rgba(255,255,255,.4);
        text-align: center;
        padding: 1%;
        top: 90%;
        font-size: 3em;
        color: white;
        font-weight: bold;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        animation: animate-hide 8s;
    }
    .enterlink:link {
        color: saddlebrown;
    }
    .enterlink:visited {
        color: saddlebrown;
    }
    .enterlink:hover {
        color: saddlebrown;
    }
    .enterlink:active {
        color: saddlebrown;
    }
    .big-HU {
        transform: scale(2);
        fill: white;
        opacity: 1;
        animation-name: animate-reveal;
        animation-duration: 4s;
    }
    .big-AG {
        transform: scale(2);
        fill: white;
        opacity: 1;
        animation-name: animate-reveal;
        animation-duration: 7s;
    }
    .big-job {
        display: block;
        position: relative;
        top: 160px;
        width: 60%;
        color: white;
        opacity: 1;
        font-size: 1em;
        font-weight: bold;
        margin: 0 auto;
        padding-top: 10px;
        margin-top: 40px;
        border-top: 2px solid white;
        font-weight: normal;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: helvetica;
        line-height: 2;
        text-align: center;
    }
    @keyframes animate-scroll {
        0% {
            background-position: 0 0;
        }
        90% {
            background-position: 0 -130px;
        }
    }
    .body-animate {
        animation-name: animate-scroll;
        animation-duration: 30s;
        animation-delay: 0s;
        background-color: rgba(0,0,0,.8);
    }
}
   @media only screen and (max-width:367px) {
    .allbody {
        height: 100%;
        overflow: hidden;
    }
    .topnav {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0;
        margin: 0;
        background: rgba(255,215,0,1);
    }
    svg g {
        position: relative;
        top: 330px;
    }
    .menu {
        width: calc(100%/5);
        left: -15px;
        position: relative;
        bottom: 0;
        display: block;
        text-align: center;
        color: grey;
    }
    .topnav a:link {
        text-align: center;
        color: black;
        font-weight: bold;
    }
    .topnav a:visited {
        text-align: center;
        color: black;
        font-weight: bold;
    }
    .topnav a:hover {
        text-align: center;
        color: rgba(255,215,0,1);
        font-weight: bold;
        background: white;
    }
    .topnav a:active {
        text-align: center;
        color: black;
        font-weight: bold;
    }
    aside {
        display: none;
    }
    .call-to-action svg g {
        position: relative;
        left: -55%;
        fill: grey;
        transform: scale(.2);
    }
    footer {
        margin-bottom: 30px;
    }
    .foot-links:link {
        color: saddlebrown;
    }
    #footer_about {
        text-align: center;
        width: 92%;
        padding: 2%;
        margin: 2%;
        font-size: 0.91em;
        line-height: 1.5;
        font-family: 'A', helvetica;
        overflow: hidden;
        background-color: rgba(250,250,250,1);
        color: rgba(80,80,80,1);
    }
    #footer_image {
        display: none;
    }
    #footer_diy_resources {
        background: none;
        width: 92%;
        padding: 2%;
        margin: 2%;
        font-size: 1em;
        line-height: 1.5;
        font-family: 'A',helvetica;
        overflow: hidden;
    }
    .break {
        display: none;
    }
    .accordion {
        display: block;
        background: none;
        color: rgba(250,215,0,1);
        cursor: pointer;
        padding: 2%;
        width: 94%;
        margin: 1% auto -30px;
        border: none;
        text-align: center;
        outline: none;
        font-size: 1em;
        transition: 0.4s;
    }
    .accordion:hover,
    .active {
        background-color: rgba(255,215,0,1);
        color: black;
    }
    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    .center {
        width: 75%;
        margin: 0 auto;
    }
    #big-human-angel-logo {
        position: absolute;
        top: 30px;
        left: 0;
        transform: scale(1);
    }
    .big-HU {
        transform: scale(2);
    }
    .big-AG {
        transform: scale(2);
    }
    .big-window {
        width: 100%;
        height: 100%;
        display: block;
        padding: 0;
    }
    .big-body {
        background-image: url('happy.jpg' );
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        border-bottom: 10px solid rgba(250,250,250,1);
    }
    .enter {
        position: fixed;
        width: 98%;
        background: rgba(255,215,0,1);
        text-align: center;
        padding: 1%;
        height: 65px;
        top: 90%;
        font-size: 3em;
        color: saddlebrown;
        font-weight: bold;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        animation: animate-hide 8s;
    }
    .enterlink:link {
        color: white;
    }
    .enterlink:visited {
        color: white;
    }
    .enterlink:hover {
        color: white;
    }
    .enterlink:active {
        color: white;
    }
    .big-HU {
        transform: scale(2);
        fill: white;
        opacity: 1;
        animation-name: animate-reveal;
        animation-duration: 4s;
    }
    .big-AG {
        transform: scale(2);
        fill: white;
        opacity: 1;
        animation-name: animate-reveal;
        animation-duration: 7s;
    }
    .big-job {
        display: block;
        position: relative;
        top: 160px;
        width: 60%;
        color: white;
        opacity: 1;
        font-size: 1em;
        font-weight: bold;
        margin: 0 auto;
        padding-top: 10px;
        margin-top: 40px;
        border-top: 2px solid white;
        font-weight: normal;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: helvetica;
        line-height: 2;
        text-align: center;
    }
    @keyframes animate-scroll {
        0% {
            background-position: 0 0;
        }
        90% {
            background-position: 0 -130px;
        }
    }
    .body-animate {
        animation-name: animate-scroll;
        animation-duration: 30s;
        animation-delay: 0s;
        background-color: rgba(0,0,0,.8);
    }
}
